* {
	margin: 0px;
	padding: 0px;
}

html, body {
	background: #f6f5fa;
	height: 100%;
}

@font-face {
	font-family: 'Maxwell-Regular';
	src:url('../fonts/MAXWELL-REGULAR.ttf');
}

.btn-label { 
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn { 
	margin-bottom: 10px; 
}

.light-shadow {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.08) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.08) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.08) inset;
}

.light-shadow:before, .light-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.6);
    box-shadow:0 0 20px rgba(0,0,0,0.6);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.light-shadow:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}